:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-green-dark: #518534;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --border-greylight: #E5E5E5;
  --basic-background: #F1F5F7;

  --gray-hover: #B5B5B5;
  --gray-dark: #293449;
  --gray: #32425C;
  --black: #000000;
  --white: #FFFFFF;
  --white-transparent: rgba(255, 255, 255, 0.5);
  --white-background: rgba(255, 255, 255, 0.9);
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --spesial-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --link-active: #161D29;
  --background-active: #1D2739;
  --background-catalog-title: #F2F6F8;

  --popup-write-us: #F4F4F4;
  --popup-add-cart: #F1F1F1;
  --red-hover: #CA2C37;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --del: #A9A9A9;
  --light-gray: #EAEAEA;
  --box-shadow: rgba(0, 0, 0, 0.24);
  --product-shadow: rgba(0, 0, 0, 0.15);
  --button-shadow: #367315;
}

/* global */

body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  color: var(--black);
  font-size: 13px;
  line-height: 24px;
  min-width: 960px;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* container */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header */

.header-row {
  background-color: var(--gray-dark);
}

.header-row a {
  font-size: 18px;
  color: var(--white);
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.logo-buy {
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  position: relative;
}

.buy-wrapper {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  min-width: 450px;
}

.header-logo {
  background-color: var(--basic-red);
  width: 220px;
  box-shadow: inset 0px -5px 0px var(--box-shadow);
  position: absolute;
  min-height: 47px;
  display: flex;
  box-sizing: border-box;
  padding-bottom: 5px;
  justify-content: center;
}

.header-logo:active {
  background-color: var(--error);
}

.search,
.search::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  font-family: 'Cuprum', 'Arial', sans-serif;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  width: 271px;
  min-height: 42px;
  margin-left: 220px;
  padding: 0;
}

.search {
  padding-left: 42px;
  position: relative;
}

.search-form {
  position: relative;
}

.search-icon {
  width: 17px;
  height: 17px;
  position: absolute;
  left: 237px;
  top: 12px;
}

.search:hover~.search-icon g,
.search-icon:hover g {
  opacity: 1;
}

.search:active~.search-icon g,
.search-icon:active g,
.search:focus~.search-icon g,
.search-icon:focus g {
  opacity: 1;
}

.search:active~.search-icon path,
.search-icon:active path,
.search:focus~.search-icon path,
.search-icon:focus path {
  fill: var(--basic-red);
}

.search:focus {
  background-color: var(--white);
  color: var(--black);
}

.checkout {
  background-color: var(--basic-green);
  display: inline-block;
  width: 150px;
  min-height: 42px;
  line-height: 42px;
}

.checkout:hover {
  background-color: var(--success);
}

.checkout:active {
  color: var(--white-transparent);
}

.header-row-link {
  display: inline-block;
  width: 150px;
  min-height: 42px;
  line-height: 42px;
  position: relative;
  box-sizing: border-box;
}

.header-row-link:active {
  background-color: var(--link-active);
  color: var(--white-transparent);
}

.bookmark {
  padding-left: 17px;
}

.bookmark-icon {
  width: 14px;
  height: 16px;
  position: absolute;
  left: 19px;
  top: 13px;
}

.bookmark:hover g {
  opacity: 1;
}

.bookmark:active g {
  opacity: 0.3;
}

.cart {
  padding-left: 19px;
}

.cart-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 25px;
  top: 13px;
}

.cart:hover g {
  opacity: 1;
}

.cart:active g {
  opacity: 0.3;
}

.header-nav-wrapper {
  background-color: var(--basic-background);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}

.description {
  color: var(--basic-red);
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
  padding-left: 30px;
}

.header-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: auto;
  margin-left: 93px;
  margin-bottom: 41px;
}

.header-phone {
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: var(--basic-red);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--white);
  box-sizing: border-box;
  display: inline-block;
  width: 270px;
  min-height: 45px;
  position: relative;
  padding-top: 7px;
  padding-left: 30px;
}

.header-phone::before {
  content: '';
  background-image: url('../img/icon-phone.svg');
  background-repeat: no-repeat;
  position: absolute;
  width: 19px;
  height: 19px;
  left: 37px;
  top: 11px;
}

.header-nav .address {
  font-size: 14px;
  font-style: normal;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: var(--gray);
  margin: 0;
  padding-top: 3px;
}

.user-links a {
  font-style: normal;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: var(--gray);
  font-size: 16px;
  line-height: 18px;
}

.user-links {
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 0;
}

.user-links li:first-child {
  list-style: none;
  margin-right: 29px;
}

.user-links li:last-child {
  padding-left: 4px;
}

.login {
  display: flex;
  list-style: none;
  margin: 0;
  text-align: center;
}

.come {
  display: inline-block;
  margin-right: 10px;
  width: 121px;
  min-height: 45px;
  line-height: 45px;
  position: relative;
  box-sizing: border-box;
  padding-left: 18px;
}

.come svg {
  width: 20px;
  height: 17px;
  position: absolute;
  top: 14px;
  left: 19px;
}

.come:hover path {
  fill: var(--basic-grey);
}

.come:active path {
  fill: var(--basic-greylight);
}

.registration {
  display: inline-block;
  min-height: 45px;
  width: 150px;
  line-height: 45px;
}

.login a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  background-color: var(--white-background);
  color: var(--black);
  font-size: 21px;
}

.user {
  font-family: 'Cuprum', 'Arial', sans-serif;
  background-color: var(--white-background);
  color: var(--black);
  font-size: 21px;
  line-height: 45px;
  display: inline-block;
  width: 299px;
  min-height: 45px;
  text-align: center;
  position: relative;
}

.user-icon {
  position: absolute;
  top: 13px;
  left: 15px;
}

.logout-icon {
  position: absolute;
  top: 14px;
  right: 17px;
}

.user:hover path {
  fill: var(--basic-grey);
}

.user:active path {
  fill: var(--basic-greylight);
}

.login a:hover {
  color: var(--basic-red);
}

.user-links a:hover,
.user-links:hover {
  color: var(--basic-red);
}

.login a:active {
  color: var(--basic-greylight);
}

.user:active {
  color: var(--basic-greylight);
}

.user-links a:active,
.user-links:active {
  color: var(--basic-greylight);
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 60px;
}

.main-nav li {
  background-color: var(--gray);
  flex-grow: 1;
  text-align: center;
  line-height: 60px;
  box-shadow: inset 0px -5px 0px var(--gray-dark);
}

.main-nav a {
  font-size: 18px;
  display: inline-block;
  min-height: 60px;
  width: 100%;
  color: var(--white);
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.main-nav a:hover {
  background-color: var(--gray-dark);
}

.main-nav a:active {
  background-color: var(--background-active);
  color: var(--white);
  opacity: 0.5;
}

/* description */

.description-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
  margin-top: 70px;
}

.section-description {
  width: 478px;
  display: flex;
  flex-direction: column;
}

.description-wrapper p {
  margin-top: 24px;
  margin-bottom: 0;
}

.section-contact {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.description-wrapper h2 {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}

.description-wrapper ul {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  list-style: none;
  padding-left: 38px;
  margin-top: 0;
  margin-bottom: 8px;
}

.description-wrapper li {
  margin-bottom: 12px;
  position: relative;
}

.description-wrapper li::before {
  content: '';
  position: absolute;
  width: 25px;
  border-bottom: 2px solid var(--basic-red);
  left: -37px;
  top: 14px;
}


.button {
  background-color: var(--basic-red);
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 38px;
  color: var(--white);
  text-transform: uppercase;
  display: inline-block;
  min-height: 38px;
  text-align: center;
}

.map-mini {
  margin-top: 32px;
  margin-bottom: 25px;
}

.write-to-us {
  margin-top: auto;
}

.about-company {
  margin-top: auto;
  align-self: flex-start;
  width: 220px;
}

.button:hover {
  background-color: var(--red-hover);
}

.button:active {
  background-color: var(--error);
}

/* footer */

.footer-nav-wrapper {
  background-color: var(--gray);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  min-height: 193px;
}

.footer-nav address {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: normal;
  font-size: 18px;
  color: var(--basic-background);
}

.footer-phone {
  padding-top: 22px;
}

.footer-phone a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  color: var(--basic-background);
}

.footer-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 37px;
  margin-left: 69px;
  padding-left: 0;
}

.footer-links-wrapper {
  flex-grow: 1;
}

.footer-links a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  color: var(--basic-background);
}

.product-nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 34px;
  padding-left: 0;
  margin-left: 92px;
}

.product-nav a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  color: var(--special-yellowlight);
}

.logo {
  display: inline-block;
  background-color: var(--basic-red);
  width: 220px;
  min-height: 63px;
  box-shadow: inset 0px -5px 0px var(--box-shadow);
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 5px;
}

.logo:active {
  background-color: var(--error);
}

.footer-nav a:hover {
  text-decoration-line: underline;
}

.footer-nav a:active {
  opacity: 0.5;
  text-decoration-line: none;
}

.footer-info-wrapper {
  background-color: var(--gray-dark);
}

.footer-info {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 107px;
  align-items: center;
}

.social-links {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 13px;
  padding-top: 7px;
}

a:hover .social-icon {
  fill: var(--basic-red);
}

.footer-copyright {
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 300px;
}

.footer-copyright li:first-child {
  padding-right: 51px;
}

.footer-info a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--special-yellowlight);
}

.footer-info a:hover {
  text-decoration-line: underline;
}

.footer-info a:active {
  color: var(--basic-red);
  text-decoration-line: none;
}

/* catalog */

.products-list {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-gap: 20px;
}

.catalog-title {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: var(--gray);
  background-color: var(--background-catalog-title);
  grid-row: 2;
  grid-column: 1 / -1;
  height: 89px;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 29px;
}

.uppercase {
  text-transform: uppercase;
}

.breadcrumbs {
  grid-row: 1;
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  margin-top: 19px;
  padding-left: 55px;
}

.breadcrumbs li {
  padding-right: 41px;
  position: relative;
  line-height: 14px;
}

.breadcrumbs li:first-child::after {
  content: '';
  position: absolute;
  background-image: url('../img/icon-home.png');
  width: 14px;
  height: 12px;
  top: 5px;
  left: -55px;
}

.breadcrumbs li::before {
  content: '';
  position: absolute;
  background-image: url('../img/icon-right-small.png');
  width: 8px;
  height: 12px;
  top: 5px;
  left: -26px;
}

.breadcrumbs a {
  line-height: 20px;
  text-transform: uppercase;
  color: var(--black);
}

.legend {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
  border-top: 1px solid var(--border-greylight);
  padding-top: 16px;
  display: inline-block;
  min-height: 47px;
  box-sizing: border-box;
}

.toggle-legend {
  padding-top: 18px;
  min-height: 49px;
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;
  padding-left: 0;
  margin-bottom: 25px;
  margin-top: 0;
}

.toggle {
  margin-top: 8px;
}

.filter li {
  padding-top: 17px;
  padding-left: 35px;
  position: relative;
  display: block;
  min-height: 39px;
  box-sizing: border-box;
}

.toggle li:first-child {
  min-height: 35px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.checkbox-label::before {
  content: '';
  position: absolute;
  background-image: url('../img/checkbox-off.png');
  width: 23px;
  height: 23px;
  left: 0;
  top: 15px;
}

.checkbox:checked+.checkbox-label::before {
  background-image: url('../img/checkbox-on.png');
  width: 27px;
}

li:hover .checkbox-label::before {
  background-image: url('../img/checkbox-off-hover.png');
}

li:hover .checkbox:checked+.checkbox-label::before {
  background-image: url('../img/checkbox-on-hover.png');
}

.radio-label::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  left: 0;
  top: 13px;
  border: 4px solid var(--basic-greylight);
  border-radius: 50%;
}

.radio:checked+.radio-label::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 9px;
  height: 9px;
  left: 8px;
  top: 21px;
  border-radius: 50%;
  background-color: var(--basic-greylight);
}

li:hover .radio-label::before {
  border-color: var(--gray-hover);
}

li:hover .radio:checked+.radio-label::after {
  background-color: var(--gray-hover);
}

input:disabled label::before {
  opacity: 0.3;
}

.checkbox:disabled+.checkbox-label::before {
  background-image: url('../img/checkbox-off-hover.png');
}

.checkbox:disabled:checked+.checkbox-label::before {
  background-image: url('../img/checkbox-on-hover.png');
}

.radio:disabled+.radio-label::before {
  border-color: var(--gray-hover);
}

.radio:disabled:checked+.radio-label::after {
  background-color: var(--gray-hover);
}

.filter input:disabled+label {
  opacity: 0.4;
}

.button-navigation {
  line-height: 34px;
  text-transform: uppercase;
  background: var(--white);
  border: 1px solid var(--border-greylight);
  box-sizing: border-box;
  border-radius: 2px;
  width: 100%;
  margin-top: 9px;
  min-height: 38px;
  cursor: pointer;
}

.button-navigation:hover {
  border-color: var(--basic-greylight);
}

.button-navigation:active {
  border-color: var(--basic-red);
}

/* products */

.products {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 18px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 48px;
}

.products li:hover {
  box-shadow: 0px 4px 20px var(--product-shadow);
}

.products h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 7px;
  margin-bottom: auto;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid var(--light-gray);
}

.product-img-wrapper {
  min-height: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  order: -1;
  padding-right: 3px;
}

.product-img {
  padding-bottom: 6px;
  padding-right: 2px;
}

.product-hover {
  text-transform: uppercase;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 54px;
  align-self: flex-end;
}

.product-hover .buy {
  color: var(--white);
  background-color: var(--basic-green);
  min-height: 35px;
  line-height: 35px;
  display: inline-block;
  width: 135px;
  padding-bottom: 3px;
  box-shadow: inset 0px -3px 0px var(--button-shadow);
  border-radius: 2px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding-left: 12px;
  position: relative;
}

.buy::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 30px;
  background-image: url('../img/icon-cart.svg');
  width: 15px;
  height: 15px;

}

.product-hover .buy:hover {
  background-color: var(--success);
}

.product-hover .buy:active {
  background-color: var(--basic-green-dark);
}

.product-hover .favorite {
  color: var(--gray);
  border: 3px solid var(--basic-green);
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  width: 135px;
  min-height: 38px;
  line-height: 32px;
}

.product-hover .favorite:hover {
  border-color: var(--gray);
}

.product-hover .favorite:active {
  opacity: 0.5;
}

.products del {
  color: var(--del);
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  min-height: 18px;
  padding-top: 1px;
}

.products .price {
  color: var(--white);
  font-weight: bold;
  font-size: 17px;
  line-height: 38px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  margin-bottom: 21px;
  margin-top: 13px;
  display: inline-block;
  width: 140px;
  margin-left: 11px;
  min-height: 38px;
  border-radius: 2px;
  box-sizing: border-box;
  padding-right: 10px;
  position: relative;
}

.price::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  transform: rotate(45deg);
  background-color: var(--white);
  right: -14px;
  top: -14px;
  pointer-events: none;
}

.price::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  transform: rotate(45deg);
  background-color: var(--white);
  right: -14px;
  bottom: -14px;
  pointer-events: none;
}

.price:hover {
  background-color: var(--red-hover);
}

.price:active {
  background-color: var(--error);
}

/* add-cart popup */

.add-cart {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  min-height: 282px;
  box-shadow: 0px 4px 20px var(--product-shadow);
  margin-top: -140px;
  margin-left: -290px;
  box-sizing: border-box;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.decor-add-cart {
  background-color: var(--basic-red);
  height: 7px;
  width: 100%;
  order: -2;
}

.header-add-cart {
  position: relative;
  font-size: 24px;
  font-family: 'Cuprum', Arial, sans-serif;
  margin-top: 27px;
}

.header-add-cart::before {
  content: '';
  position: absolute;
  background-image: url('../img/icon-mark.svg');
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px var(--box-shadow);
  top: -21px;
  left: -95px;
}

.button-close {
  background-image: url('../img/icon-close.png');
  background-repeat: no-repeat;
  background-position: 11px 11px;
  width: 43px;
  height: 43px;
  border: none;
  background-color: var(--white);
  order: -1;
  cursor: pointer;
  align-self: flex-end;
  padding: 0;
}

.add-cart-wrapper {
  height: 112px;
  margin-top: auto;
  background-color: var(--popup-add-cart);
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-add-cart {
  display: block;
  height: 38px;
  background-color: var(--basic-red);
  width: 192px;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  font-size: 14px;
  font-family: 'Cuprum', Arial, sans-serif;
  line-height: 38px;
}

.proceed {
  width: 192px;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  height: 38px;
  cursor: pointer;
  border: none;
  background-color: var(--white);
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

/* map-popup */

.map-popup {
  box-sizing: border-box;
  width: 943px;
  height: 449px;
  position: absolute;
  bottom: 333px;
  left: 50%;
  margin-left: -480px;
  overflow: hidden;
  box-shadow: 0px 4px 20px var(--product-shadow);
}

.map-popup::before {
  position: absolute;
  top: 0;
  width: 100%;
  content: '';
  border-top: 5px solid var(--basic-red);
}

.button-close-map {
  position: absolute;
  right: 0;
  top: 7px;
  background-image: url('../img/icon-close.png');
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 41px;
  height: 41px;
  border: none;
  cursor: pointer;
}

/* write-us */

.write-us {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 620px;
  min-height: 430px;
  background-color: var(--white);
  box-shadow: 0px 4px 20px var(--product-shadow);
  left: 50%;
  bottom: 352px;
  margin-left: -318px;
}

.button-close-write-us {
  background-image: url('../img/icon-close.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--white);
  cursor: pointer;
  align-self: flex-end;
  padding: 0;
  margin-top: 9px;
  margin-right: 7px;
}

.write-us-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  min-height: 384px;
}

.write-us-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.write-us-form p:not(:last-of-type) {
  margin: 0;
}

.write-us-form p:first-child {
  margin-right: 20px;
}

.write-us-input {
  color: var(--del);
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  padding-left: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  min-width: 220px;
  line-height: 20px;
  box-sizing: border-box;
  margin-top: 10px;
}

.write-us-input::placeholder {
  color: var(--del);
}

.write-us-textarea {
  margin-top: 15px;
  width: 460px;
}

.write-us-text {
  color: var(--del);
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  padding-left: 12px;
  padding-top: 8px;
  margin-top: 8px;
  box-sizing: border-box;
  width: 460px;
  min-height: 114px;
  resize: none;
}

.write-us-text::placeholder {
  color: var(--del);
}

.write-us-label {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
}

.write-us-submit-wrapper {
  width: 100%;
  height: 112px;
  background-color: var(--popup-write-us);
  display: flex;
}

.write-us-submit {
  display: block;
  width: 460px;
  margin: auto;
  height: 38px;
  background-color: var(--basic-red);
  border: none;
  color: var(--white);
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Cuprum', Arial, sans-serif;
}

/* hidden */

.remove {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
