:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-green-dark: #518534;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --border-greylight: #E5E5E5;
  --basic-background: #F1F5F7;

  --gray-dark: #293449;
  --gray: #32425C;
  --black: #000000;
  --wight: #FFFFFF;
  --wight-transparent: rgba(255, 255, 255, 0.5);
  --wight-background: rgba(255, 255, 255, 0.9);
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --spesial-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --link-active: #161D29;
  --background-active: #1D2739;
  --background-catalog-title: #F2F6F8;

  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --del: #A9A9A9;
  --light-gray: #EAEAEA;
  --box-shadow: rgba(0, 0, 0, 0.24);
}

/* global */

.popup {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  color: var(--black);
  font-size: 13px;
  line-height: 24px;
  min-width: 960px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* header */

.header-row {
  background-color: var(--gray-dark);
}

.header-row a,
.header-nav a,
.search::placeholder,
.search {
  font-size: 18px;
  line-height: 24px;
  color: var(--wight);
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.header-logo {
  background-color: var(--basic-red);
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0px var(--box-shadow);
}

.header-logo:active {
  background-color: var(--error);
}

.search {
  background-color: transparent;
  border: none;
  width: 271px;
  height: 42px;
}

.search:focus,
.search:focus::placeholder {
  background-color: var(--wight);
  color: var(--black);
}

.checkout {
  background-color: var(--basic-green);
  display: inline-block;
  width: 150px;
  height: 42px;
}

.checkout:hover {
  background-color: var(--success);
}

.checkout:active {
  color: var(--wight-transparent);
}

.header-row-link {
  display: inline-block;
  width: 150px;
  height: 42px;
}

.header-row-link:active {
  background-color: var(--link-active);
  color: var(--wight-transparent);
}

.header-nav {
  background-color: var(--basic-background);
}

.description {
  color: var(--basic-red);
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

a.header-phone {
  color: var(--basic-red);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.header-nav .address,
.user-links a {
  font-style: normal;
  font-family: 'Cuprum', 'Arial', sans-serif;
  color: var(--gray);
}

.header-nav .address {
  font-size: 14px;
}

.user-links a {
  font-size: 16px;
  line-height: 18px;
}

.login a,
a.user {
  display: inline-block;
  background-color: var(--wight-background);
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
}

.login a:hover,
.user-links a:hover {
  color: var(--basic-red);
}

.login a:active,
a.user:active,
.user-links a:active {
  color: var(--basic-greylight);
}

.main-nav {
  background-color: var(--gray);
}

.main-nav a:hover {
  background-color: var(--gray-dark);
}

.main-nav a:active {
  background-color: var(--background-active);
  color: var(--wight);
  opacity: 0.5;
}

.section-description h2,
.catalog-title {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.section-description ul {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
}

.button {
  background-color: var(--basic-red);
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--wight);
  text-transform: uppercase;
}

.button:active {
  background-color: var(--error);
}

/* footer */

.footer-nav,
.footer-nav address,
.footer-nav a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: normal;
  font-size: 18px;
  color: var(--basic-background);
  background-color: var(--gray);
}

.product-nav a {
  color: var(--special-yellowlight);
}

a.logo {
  display: inline-block;
  background-color: var(--basic-red);
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0px var(--box-shadow);
}

.logo:active {
  background-color: var(--error);
}

.footer-nav a:hover,
.footer-info a:hover {
  text-decoration-line: underline;
}

.footer-nav a:active {
  opacity: 0.5;
  text-decoration-line: none;
}

.footer-info,
.footer-info a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.footer-info {
  color: var(--wight);
  background-color: var(--gray-dark);
}

.footer-info a {
  color: var(--special-yellowlight);
}

.footer-info a:hover {
  text-decoration-line: underline;
}

.footer-info a:active {
  color: var(--basic-red);
  text-decoration-line: none;
}

/* catalog */

.catalog-title {
  color: var(--gray);
  background-color: var(--background-catalog-title);
}

.breadcrumbs a,
.breadcrumbs {
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
}

.legend {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
}

.filter {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter input:disabled,
.filter input:disabled+label {
  opacity: 0.4;
}

.button-navigation {
  line-height: 18px;
  text-transform: uppercase;
  background: var(--wight);
  border: 1px solid var(--border-greylight);
  box-sizing: border-box;
  border-radius: 2px;
}

.button-navigation:hover {
  border-color: var(--basic-greylight);
}

.button-navigation:active {
  border-color: var(--basic-red);
}

/* products */

.products h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.product-hover {
  text-transform: uppercase;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.product-hover .buy {
  color: var(--wight);
  background-color: var(--basic-green);
}

.product-hover .buy:hover {
  background-color: var(--success);
}

.product-hover .buy:active {
  background-color: var(--basic-green-dark);
}

.product-hover .favorite {
  color: var(--gray);
}

.product-hover .favorite:active {
  opacity: 0.5;
}

.products del {
  color: var(--del);
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.products .price {
  color: var(--wight);
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
}
